.footerCcs {
      background-color: #010002e3;
      padding: 30px 20px;
      text-align: center;
      border-top: 1px solid #ddd;
    }

    
    .footer-container {
     display: flex;
     justify-content: space-between;
      max-width: 800px;
      margin: auto;
    }
    .footer-Me{
            padding: 2px 2px;
        }
    .footer-name {
      @include JosefinSans(400);
      color: #ffffff;
      margin: 0;
      font-size: 18px;
      font-weight: bold;
    }

    .footer-role {
      @include JosefinSans(400);
      margin: 5px 0;
      color: #ffffff;
    }

    .footer-social {
      margin: 15px 0px;
      
    }
    .footer-social a{
        color: rgb(0 0 0);
    }

    .footer-social a img {
      
      margin: 0 10px;
      transition: transform 0.3s;
    }

    .footer-social a img:hover {
      transform: scale(1.2);
    }

    .footer-copy {
      font-size: 14px;
      color: #ffffff;
      margin-top: 15px;
    }