.footerCcs {
      background-color: #010002e3;
      padding: 10px 20px;
      text-align: center;
      border-top: 1px solid #ddd;
    }

    
    .footer-container {
     display: flex;
     justify-content: space-between;
      max-width: 800px;
      margin: auto;
    }
    .footer-Me{
            padding: 2px 2px;
        }
    .footer-name {
      @include JosefinSans(400);
      color: #ffffff;
      margin: 0;
      font-size: 18px;
      font-weight: bold;
    }

    .footer-role {
      @include JosefinSans(400);
      margin: 5px 0;
      color: #ffffff;
    }

    .footer-social {
      margin: 15px 0px;
      
    }
    .footer-social a{
        color: rgb(0 0 0);
    }

    .footer-social a img {
      
      margin: 0 10px;
      transition: transform 0.3s;
    }

    .footer-social a img:hover {
      transform: scale(1.2);
    }

    .footer-copy {
      font-size: 14px;
      color: #ffffff;
      margin-top: 15px;
    }

.backToTopContainer{ 
  display: flex;        /* Para centrar el ícono */
  justify-content: center;
  align-items: center;
  height: 50px;
}
.top { 
  width: 80px;          /* Tamaño del botón */
  height: 80px;
  background-color: #000; /* Fondo negro */
  border-radius: 50%;   /* Redondo */
  display: flex;        /* Para centrar el ícono */
  justify-content: center;
  align-items: center;
  ;
  
  //display: none; /* aparece solo al hacer scroll */
  background-color: #1a1a1a;
  color: #fff;

  border-radius: 50%;   /* Redondo */
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
   cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, opacity 0.3s;

  position: relative;   /* Permite mover el elemento dentro de su contenedor */
  top: -30px;           /* Mueve el <a> 10px hacia arriba */
  display: flex;
  justify-content: center;
  align-items: center;

}

.top:hover {
  background-color: #333;
  transform: translateY(-3px);
}
.top img {
  width: 24px;  /* Ajusta el tamaño del ícono */
  height: 24px;
}




