
header{
    box-shadow: 0px 9px 5px -7px rgba(120,67,233,0.67);
    -webkit-box-shadow: 0px 9px 5px -7px rgba(120,67,233,0.67);
    -moz-box-shadow: 0px 9px 5px -7px rgba(120,67,233,0.67);

    position: sticky;
}

.navBarBriefcase,
.navBarBriefcase .navbar {
  background-color: inherit;
}

body.dark .navBarBriefcase {
  background-color: #170217;
}

.navBarBriefcase{

    position: sticky;
    top: 0;
    z-index: 1000;

    
}
.divNavBar{
    padding: 0 15px 0 15px;
   
}

.txtHeader{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.homePortafolio{
  position: absolute;
  top: 20px;
  left: 160px;
  z-index: 1100;
}

.darkmode-wrapper {
 // margin-right: 20px;
 
  position: absolute;
  top: 20px;
  right: 160px;
  z-index: 1100;
  
}


/* BOTÓN */
.theme-toggle {
  width: 80px;
  height: 35px;
  border-radius: 30px;
  border: 2px solid #000;
  background: #fff;
  position: relative;
  cursor: pointer;
  padding: 0;
  transition: background 0.3s ease;
}



.theme-toggle .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: all 0.3s ease;
}

/* ICONO LUNA */
.theme-toggle .moon {
  left: 8px;
}

/* ICONO SOL */
.theme-toggle .sun {
  right: 8px;
  opacity: 0;
}

/* MODO OSCURO */
body.dark {
  background-color: #121212;
  color: #f1f1f1;
}

body.dark .theme-toggle {
  background: #000;
  border-color: #fff;
}

/* Animación del switch */
body.dark .moon {
  left: 41px;
  opacity: 0;
}

body.dark .sun {
  opacity: 1;
  left: 41px;
}

body.dark .icon {
  filter: invert(1);
}


@media (max-width: 768px) {
    .divNavBar{
    text-align: center;
    padding: 0 15px;
    padding-right: 0px;

}

.darkmode-wrapper {
  top: 20px;
  right: 20px;

}

.homePortafolio
{
  top: 20px;
  left: 20px;

}

.navbar-toggler{
  background-color: #ffffffda;
 
}

.theme-toggle {
  width: 60px;
  height: 30px;
 
}

body.dark .moon {
  left: 32px;
}

body.dark .sun {
  left: 32px;
}
  
}


