/// sass --watch scss:css
@import "mixin.scss";
@import "_reset.scss";
@import "_fonts.scss";
@import "_animation.scss";
@import "_txtAnimation.scss";
@import "_animation.scss";
@import "_header.scss";
@import "_body.scss";
@import "_main.scss";
@import "_footer.scss";



